body{
  font-family: Futura std,Futura, "Century Gothic",CenturyGothic,"Avant Garde",Avantgarde,Futura,AppleGothic,Arial,Helvetica,sans-serif;
  color: #444;
}
.App {
  width: 700px;
  margin: 0 auto;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
